
* {
  font-size: 30px; 
}

h1 {
  color:#424242;
  text-align: center;
}
.container {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  width: 60%;
}

.radio {
    padding: 5px;
    margin: 5px; 
}
#tempInput {
 width: 50%;
 text-align: center;
}
.display {
  padding: 40px;
}

div {
  padding: 10px;

}